<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '店舗情報詳細', scripts = ~{::script}, links = ~{::link})"></head>

<body>
	<div class="container">
		
		<h1>店舗情報詳細</h1>
		
		<div th:object="${clientData}">
			
			<div class="row mx-md-n5">
			        <div class="col-2 pt-3 border bg-light">店舗名</div>
			        <div class="col pt-3 border">
			          <p th:text="*{storeName}"></p>
			        </div>
			</div>
			
			<div class="row mx-md-n5">
			        <div class="col-2 pt-3 border bg-light">稼働形態</div>
			        <div class="col pt-3 border">
			          <p th:text="*{workStyle}"></p>
			        </div>		
			</div>
			
			<div class="row mx-md-n5">
			       <div class="col-2 pt-3 border bg-light">店舗住所</div>
			       <div class="col pt-3 border">
			         <p th:text="*{storeAddress}"></p>
			       </div>
			</div>
			
			<div class="row mx-md-n5">
			       <div class="col-2 pt-3 border bg-light">店舗電話番号</div>
			       <div class="col pt-3 border">
			         <p th:text="*{tellNumber}"></p>
			       </div>
			</div>
			
		<div class="text-center">
			<a th:href="@{/client/{id}/edit(id=*{id})}" class="btn btn-primary" >編集</a>
			<a th:href="@{/client/{id}/delete(id=*{id})}" class="btn btn-secondary">削除</a>	
			<a href="/client/list">一覧に戻る</a>
		</div>
	</div>
</body>
</html>
