<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '催事情報詳細', scripts = ~{::script}, links = ~{::link})"></head>

<body>
	<div class="container">
		
		<h1>催事情報詳細</h1>
		
		<div th:object="${beautyData}">
			
			<div class="row mx-md-n5">
			        <div class="col-2 pt-3 border bg-light">メーカー名</div>
			        <div class="col pt-3 border">
			          <p th:text="*{makerName}"></p>
			        </div>
			</div>
			
			<div class="row mx-md-n5">
			        <div class="col-2 pt-3 border bg-light">開催期間</div>
			        <div class="col pt-3 border">
			          <p th:text="*{period}"></p>
			        </div>		
			</div>
			
			<div class="row mx-md-n5">
			       <div class="col-2 pt-3 border bg-light">エリア</div>
			       <div class="col pt-3 border">
			         <p th:text="*{area}"></p>
			       </div>
			</div>
			
			<div class="row mx-md-n5">
			       <div class="col-2 pt-3 border bg-light">会場名</div>
			       <div class="col pt-3 border">
			         <p th:text="*{place}"></p>
			       </div>
			</div>
			
		<div class="text-center">
			<a th:href="@{/beauty/{id}/edit(id=*{id})}" class="btn btn-primary" >編集</a>
			<a th:href="@{/beauty/{id}/delete(id=*{id})}" class="btn btn-secondary">削除</a>	
			<a href="/beauty/list">一覧に戻る</a>
		</div>
	</div>
</body>
</html>