.clearfix::after {

    content: "";

    display: block;

    clear: both;

}

.wrapper{

    width: 400px;

    height: 450px;

}

.FFCE7a{

    background-color: #ffce7a;

    width: 400px;

    height: 100px;

}

.small-boxes{

    width: 160px;

    height: 60px;

    background-color: #FFF;

    margin: 20px 20px;

    float: right;

}

.small-box{

    width: 40px;

    height: 40px;

    background-color: #C2FFC8;

    float: right;

    margin-top: 10px;

    margin-right: 10px;

}

.blue{

    background-color: #9DDDF4;

    width: 150px;

    height: 250px;

    float: left;

}

.C2FFC8{

    background-color: #C2FFC8;

    width: 250px;

    height: 250px;

    float: right;

}

.frame{

    margin-left: 40px;

    margin-top: 40px;

    margin-right: 60px;

    margin-bottom: 40px;

}

.long-boxes{

    width: 140px;

    height: 40px;

    background-color: #FFF;

    margin-bottom: 10px;

    padding: 5px 5px;

}

.long-box{

    width: 140px;

    height: 40px;

    background-color: #FFC2C5;
   
}

.BEA5FF{

    background-color: #BEA5FF;

    width: 400px;

    height: 100px;

}


